[project]
name = "search-viz-lab"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "altair>=5.5.0",
    "pandas>=2.3.3",
    "vl-convert-python>=1.8.0",
]
